Repository oxidized-transformers/oxidized-transformers, pull requests merged in 2024-02, with the labels that each got.

#11 Add a `VarBuilder` backend that names variables
  Cargo.toml
  src/util/mod.rs
  src/util/renaming_backend.rs
Labels: enhancement, feat/util

#12 Add BoxedError type alias
  src/error.rs
  src/layers/attention/mod.rs
  src/layers/attention/sdpa.rs
  src/layers/attention/self_attention.rs
  src/lib.rs
Labels: maintenance

#13 Convert all the existing layers to use the builder pattern
  Cargo.toml
  src/architectures/decoder.rs
  src/architectures/encoder.rs
  src/architectures/mod.rs
  src/architectures/output.rs
  src/layers/activation.rs
  src/layers/attention/alibi.rs
  src/layers/attention/mask.rs
  src/layers/attention/mod.rs
  src/layers/attention/sdpa.rs
  src/layers/attention/self_attention.rs
  src/layers/build_module.rs
  src/layers/dropout.rs
  src/layers/embeddings/mod.rs
  src/layers/embeddings/qk_rotary_embeddings.rs
  src/layers/embeddings/rotary_embeddings.rs
  src/layers/feedforward.rs
  src/layers/identity.rs
  src/layers/layer_norm.rs
  src/layers/mod.rs
  src/layers/transformer/embeddings.rs
  src/layers/transformer/layer.rs
  src/layers/transformer/mod.rs
  src/lib.rs
Labels: feat/layers

#14 Add `TransformerDecoder`
  src/architectures/decoder.rs
  src/architectures/mod.rs
  src/lib.rs
  src/models/mod.rs
  src/models/transformer/decoder.rs
  src/models/transformer/mod.rs
Labels: feat/models

#15 Remove redundant `n_{query,key_value}_heads`
  src/layers/attention/self_attention.rs
Labels: feat/layers, maintenance

#16 Remove unused `use_alibi` option in `SelfAttention`
  src/layers/attention/self_attention.rs
Labels: feat/layers, maintenance

#17 Implement `QkvMode::MergedSplitBefore`
  src/layers/attention/self_attention.rs
Labels: feat/layers

#19 Wire up key-value cache
  src/architectures/decoder.rs
  src/kv_cache.rs
  src/layers/attention/mask.rs
  src/layers/attention/mod.rs
  src/layers/attention/sdpa.rs
  src/layers/attention/self_attention.rs
  src/layers/embeddings/qk_rotary_embeddings.rs
  src/layers/embeddings/rotary_embeddings.rs
  src/layers/transformer/layer.rs
  src/models/transformer/decoder.rs
Labels: feat/layers, maintenance

#20 `QueryKeyAttentionMask` -> `SelfAttentionMask`
  src/layers/attention/mask.rs
  src/layers/attention/mod.rs
  src/layers/attention/sdpa.rs
  src/layers/attention/self_attention.rs
Labels: feat/layers, maintenance

#21 Pass positions through various layers
  src/layers/attention/mod.rs
  src/layers/attention/self_attention.rs
  src/layers/embeddings/qk_rotary_embeddings.rs
  src/layers/transformer/layer.rs
Labels: feat/layers

#22 Better structure the KV cache, make it mutable, non-optional
  src/architectures/decoder.rs
  src/kv_cache.rs
  src/layers/attention/alibi.rs
  src/layers/attention/mod.rs
  src/layers/attention/self_attention.rs
  src/layers/embeddings/qk_rotary_embeddings.rs
  src/layers/transformer/embeddings.rs
  src/layers/transformer/layer.rs
  src/models/transformer/decoder.rs
Labels: feat/layers

#23 Add `CausalLM` trait and transformer implementation
  src/architectures/causal_lm.rs
  src/architectures/mod.rs
  src/models/transformer/causal_lm.rs
  src/models/transformer/mod.rs
Labels: feat/layers, feat/models

#24 Add the `BuildArchitecture` trait
  src/architectures/causal_lm.rs
  src/architectures/decoder.rs
  src/architectures/mod.rs
  src/models/transformer/causal_lm.rs
  src/models/transformer/decoder.rs
Labels: maintenance, feat/models

#18 Implement `Tokenizer` and co. + `Repo` and co.
  .gitignore
  Cargo.toml
  src/layers/attention/mask.rs
  src/lib.rs
  src/repository/file.rs
  src/repository/hf_hub.rs
  src/repository/local_file.rs
  src/repository/mod.rs
  src/repository/repo.rs
  src/tokenizers/hf_hub.rs
  src/tokenizers/hf_tokenizer.rs
  src/tokenizers/mod.rs
  src/tokenizers/pieces.rs
  src/tokenizers/tokenizer.rs
Labels: feat/tokenizers

#25 Let `Repo` directly return `PathBuf`
  src/repository/file.rs
  src/repository/hf_hub.rs
  src/repository/local_file.rs
  src/repository/mod.rs
  src/repository/repo.rs
  src/tokenizers/hf_tokenizer.rs
Labels: maintenance, feat/tokenizers, feat/repository
